ANKER_COUNTRY="DE"                                              # Your country code (e.g., DE for Germany, US for United States). This is required for the Anker API to function correctly.
ANKER_EMAIL="yourname@you.com"                                  # Your Anker account email and password. Make sure to use an app-specific password if you have 2FA enabled.
ANKER_PASSWORD="yourpassword"                                 
ANKER_DEVICE_LABELS="SerialNumber1:Haus,SerialNumber2:Garage"   # Serial Numbers of the devices and their labels, separated by a comma. Format: SN:Label
ANKER_YEAR=2026                                                 # Year for which you want to fetch the data. Set to null to fetch all available data.    
ANKER_MONTH=5                                                   # Month for which you want to fetch the data (1-12). Set to null to fetch all available data.